#map {
      
          display: none;
    }

    .customInfobox {
        background-color: rgba(0,0,0,0.5);
        color: white;
        max-width: 400px;
        border-radius: 10px;
        padding: 3px;
        font-size:12px;
        pointer-events:auto !important;
    }

    .customInfobox .title {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 5px;
        text-align: center;
    }

    .customInfobox .row {
      border-radius: 5px;
      background-color:#bbb; 
      color:black;
      font-size: 12px;
      padding-left: 5px;
      padding-right: 5px;
    }

    .customInfobox .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .mapboxgl-popup-content {
      padding: 3px;
    }

    .mapboxgl-popup-close-button {
      display: none;
    }
    .mapboxgl-marker:hover {
      cursor: url('cursor_pointer2.png'), auto; ; 
    }
    .mapboxgl-marker:hover svg > g > g:nth-child(2) {
        fill: #7993a5;
    }
