

* {
        box-sizing: border-box;
      }

      body {
        margin: 0;
      }
      .topheader {
        overflow: hidden;
        background-color: #123F5A;
        display: block;
        color: #f2f2f2;
        text-align: left;
        padding-left: 10px;
        padding-top: 5px;
        font-weight: bolder;
      }

      /* Style the header */
      .header {
        background-color: #ffffff;
        text-align: center;
        border: 1px solid #ccc;
      }

      /* Style the top navigation bar */
      .topnav {
        overflow: hidden;
        background-color: #333;
      }

      /* Style the topnav links */
      .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
      }

      /* Change color on hover */
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

      .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: 2px solid #fff;
      }

      .footer {
        text-align: center;
      }